body {
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-areas:
    "head"
    "content"
}

#login {
    background-color: rgba(0, 255, 0, .3);
}

main article .container-titulo-add {
    display: flex;
    align-items: center;
}

main article h1 {
    flex: 1;
    text-align: center;
}

header nav {
    text-align: right;
    padding: 16px;
}

main article div a {
    text-decoration: none;
    color: blue;
}


main article {
    text-align: center;
}

.table {
    background-color: rgba(0, 255, 0, .3);
    border-radius: 5px;
    padding: 10px;
}

main article div ul {
    padding-left: 0;
}


main article div ul li {
    color: grey;
    list-style-type: none;
    border: 1px solid rgba(0, 255, 0, 1);
    margin: 10px;
    padding: 16px;
    text-align: left;
}
